.cover {
  margin: 0;
  padding: 0;

  .image-wrapper {
    width: 100%;
    height: auto !important;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .subtitle {
    font-size: 1rem;
    font-family: "TsarR";
    color: var(--title-color);
    letter-spacing:0.1rem;
    margin-top: 4rem;
    margin-bottom:1.5rem;
  }

  .names {
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    .divider {
      background-color: var(--dark-color);
      width: 1px;
      height: 0.7rem;
    }
  }
  .info {
    margin-bottom: 4rem;
    opacity: 0.8;
  }
}
