
.notice {
  .notice-card {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: var(--dark-color);
    line-height: 1.8rem;
  }
}

.card.notice {
  margin-top: -15rem !important;   // 원래 6rem 같은 기본 간격보다 줄이기
}


.ending {
  margin: 0;
  padding: 0;
  margin-bottom: -0.5rem;
  margin-top: -4rem;

  .image-wrapper {
    width: 100%;
    height: auto !important;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
